@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rajdhani:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
nav a {
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.5px;
}