* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(4, 4, 91);

    color: rgb(4, 4, 91);
   
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button,
input,
textarea {
    font-family: inherit;
}

nav {
    background-color: rgb(4, 4, 91);
   
    color: rgb(4, 4, 91);
}

footer {
    background-color: rgb(4, 4, 91);
    color: white;
}