:root {
    --donkerblauw: rgb(4, 4, 91);
    --roos: rgb(240, 84, 84);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--donkerblauw);
    color: var(--roos);
}


nav {
    background-color: var(--roos);
 
}

nav a {
    color: white;
    /* witte tekst */
    text-decoration: none;
}

nav a:hover {
    color: var(--donkerblauw);
   
}


h1,
h2,
h3,
p,
li {
    color: var(--roos);
}


footer {
    background-color: var(--donkerblauw);
    color: var(--roos);
    text-align: center;
    padding: 1rem;
}

footer a {
    color: var(--roos);
    text-decoration: none;
}

footer a:hover {
    color: #F06C65;
}